:root {
    --pink: #ff3f6c;
}

/* NAVBAR */
body>div:first-child {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 10;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

#category {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

#category sup {
    color: var(--pink);
}

#category>div {
    height: 55px;
    display: flex;
    align-items: center;
}

#category>div:first-child:hover {
    border-bottom: 3px solid red;
}

#category>div:nth-child(2):hover {
    border-bottom: 3px solid var(--pink);
}

#category>div:nth-child(3):hover {
    border-bottom: 3px solid orange;
}

#category>div:nth-child(4):hover {
    border-bottom: 3px solid rgb(220, 220, 17);
}

#category>div:last-child:hover {
    border-bottom: 3px solid red;
}

#search {
    background-color: rgb(235, 235, 235);
}

#search>button,
#search>input {
    font-size: 14px;
    padding: 6px;
    padding-left: 10px;
    background: transparent;
    border: 0px;
    outline: none
}

#search>input {
    width: 89%;
}

#search>button {
    width: 9%;
}

#actions {
    height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#actions>div {
    height: 50px;
    text-align: center;
}
#offcanvas{
    position: fixed;
    z-index: 20;
}
#filters , .filters{
    margin-top: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 20%;
    padding: 20px;
    height: 800px;
    overflow: scroll;
}
.filters::-webkit-scrollbar{
    display: none;
}
span {
    font-size: 13px;
    color: rgb(163, 162, 162);
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6 {
    height: 15px;
    width: 15px;
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.color1 {
    background-color: black;
}

.color2 {
    background-color: navy;
}

.color3 {
    background-color: yellow;
}

.color4 {
    background-color: white;
}

.color5 {
    background-color: green;
}

.color6 {
    background-color: blue;
}
#products{
    width: 80%;
    margin-right: -4px;
    height: 1000px;
    overflow: scroll;
}
#products::-webkit-scrollbar{
    display: none;
}
#pro-img{
    height: 380px;
    width: 100%;
    padding: 15px;
}
/* body>div:nth-child(2){
    height: 1200px;
    overflow: scroll;
} */
/* body>div:nth-child(2)::-webkit-scrollbar{
    display: none;
} */