/* for NAVBAR */
/* SMALL MOBILE */
@media(max-width: 321px) {
    #category {
        font-size: 10px;
        justify-content: space-between;
    }

    #logo {
        height: 45px;
    }
    body>div:nth-child(2) {
        display: block;
    }
    #img, #details {
        width: 100%;
    }
}

/* MED AND LARGE MOBILE */
@media(min-width: 321px) and (max-width: 426px) {
    #category {
        font-size: 12px;
        justify-content: space-between;
    }

    #logo {
        height: 45px;
    }
    body>div:nth-child(2) {
        display: block;
    }
    #img, #details {
        width: 100%;
    }
}

/* TABLET */
@media (min-width: 426px) and (max-width: 1023px){
    body>div:nth-child(2) {
        display: block;
    }
    #img, #details {
        width: 100%;
    }
}

/* SMALL LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {
    #category {
        font-size: 13px;
    }
}