:root {
    --pink: #ff3f6c;
}

/* NAVBAR */
body>div:first-child {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

#category {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

#category sup {
    color: var(--pink);
}

#category>div {
    height: 55px;
    display: flex;
    align-items: center;
}

#category>div:first-child:hover {
    border-bottom: 3px solid red;
}

#category>div:nth-child(2):hover {
    border-bottom: 3px solid var(--pink);
}

#category>div:nth-child(3):hover {
    border-bottom: 3px solid orange;
}

#category>div:nth-child(4):hover {
    border-bottom: 3px solid rgb(220, 220, 17);
}

#category>div:last-child:hover {
    border-bottom: 3px solid red;
}

#search {
    background-color: rgb(235, 235, 235);
}

#search>button,
#search>input {
    font-size: 14px;
    padding: 6px;
    padding-left: 10px;
    background: transparent;
    border: 0px;
    outline: none
}

#search>input {
    width: 89%;
}

#search>button {
    width: 9%;
}

#actions {
    height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#actions>div {
    height: 50px;
    text-align: center;
}

#actions>div:last-child {
    font-size: 20px;
}

#cart-count {
    height: 15px;
    width: 15px;
    background-color: rgb(218, 217, 217);
    color: red;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 14px;
}

/* main page */
#dis-cart-prod-box{
    border: 1px solid lightgrey;
}
.cart-prod {
    box-shadow: lightgrey 2px 2px 15px;
}

.cart-prod>div>p:nth-child(2) {
    font-size: 12px;
}

.cart-prod>div:last-child>div p {
    margin: 0px;
}

.add,
.sub {
    height: 35px;
    width: 28px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    transition: 0.3s ease;
}

.add:hover {
    background-color: green;
    color: white
}

.sub:hover {
    background-color: red;
    color: white;
}

/* checkout */
#checkout {
    height: 70px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#checkout>button {
    background-color: none;
    border: 2px solid var(--pink);
    border-radius: 5px;
    color: var(--pink);
    transition: 0.3s ease;
}

#checkout>button:hover {
    background-color: var(--pink);
    color: white;
}

#orderNo{
    color: red;
    font-weight: 700;
    letter-spacing: 3px;
    position: absolute;
    left: 150px;
    top: 110px;
}

.order-btn{
    font-weight: 600;
    border: 1px solid lightblue;
    background-color: whitesmoke;
    color: var(--pink);
    border-radius: 8px;
    transition: 0.3s ease;
}

.order-btn:hover{
    background-color: var(--pink);
    color: white;
    border: 1px solid white;
}