:root {
    --pink: #ff3f6c;
}

body {
    background: #FDEEEB;
}

/* NAVBAR */
body>div:first-child {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

#category {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

#category sup {
    color: var(--pink);
}

#category>div {
    height: 55px;
    display: flex;
    align-items: center;
}

#category>div:first-child:hover {
    border-bottom: 3px solid red;
}

#category>div:nth-child(2):hover {
    border-bottom: 3px solid var(--pink);
}

#category>div:nth-child(3):hover {
    border-bottom: 3px solid orange;
}

#category>div:nth-child(4):hover {
    border-bottom: 3px solid rgb(220, 220, 17);
}

#category>div:last-child:hover {
    border-bottom: 3px solid red;
}

#search {
    background-color: rgb(235, 235, 235);
}

#search>button,
#search>input {
    font-size: 14px;
    padding: 6px;
    padding-left: 10px;
    background: transparent;
    border: 0px;
    outline: none
}

#search>input {
    width: 89%;
}

#search>button {
    width: 9%;
}

#actions {
    height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#actions>div {
    height: 50px;
    text-align: center;
}

/* LOGIN BOX */
#mainbox {
    height: 800px;
    width: 25%;
    margin: auto;
    margin-top: 50px;
}

#img {
    height: 18.6%;
    width: 100%;
    background-image: url("https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2023/1/25/f5e9a029-33c3-4a92-811b-ef7917fe6d441674670210687-offer-banner-300-600x240-code-_-MYNTRA300.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#mainbox>div:last-child {
    height: 80%;
    background: white;
    padding: 20px;
}
form p{
    font-size: 13px;
}
form a{
    font-weight: 700;
    color: var(--pink);
}
form input[type="submit"]{
    width: 100%;
    background-color: var(--pink);
    color: white;
}
form input[type="submit"]:hover{
    border: 1px solid;
    color: var(--pink);
}
#mail-err, #pass-err, #not-reg, #pass-wrong{
    color: var(--pink);
    margin-left: 8px;
    font-weight: 600;
    display: none;
}